@charset "UTF-8";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

.topo {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 35px 12%;
  background: #09182e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 30px;
  color: white;
  font-weight: 600;
}

.navbar a {
  font-size: 14px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  transition: 0.2s;
  
}
span {
  color: #40a296;
}

.navbar a:hover {
  color: #40a296;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 12% 0;

}

.home-main {
  max-width: 768px; 
}

.home-main h3 {
  font-size: 45px;
}

.home-main h1 {
  font-size: 65px;

}

.home-main p {
  font-size: 18px;
  margin: 20px 0 25px 0;
}

img {
  border-radius: 50%;
  width: 400px;

}

.sobre-mim {
  background-color: #09182e;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 30px 10%;
  font-size: 30px;
  color: white;
}


.projects {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px 0;
}

.project {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.project img {
  width: 10%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.project h3 {
  font-size: 24px;
  margin: 20px 0 10px;
  text-align: center;
}

.project a {
  display: flex;
  background-color:#09182e;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  transition: 0.2s;
}

.project a:hover {
  background-color: #40a296;
}



.contato h1 {
  text-align: center;
  color: white;
  margin-top:30px;
}

.formulario {
  background-color: #09182e;
}

form {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  background-color: #09182e;
  color: white;
}

label {
  display: flex;
  margin-bottom: 5px;
}

input, textarea {
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
}

button:hover {
  background-color: aliceblue;
}

@media (max-width: 693px) {
  .logo, .home-a{
    display: none;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    gap: 3em;
    padding: 30px 5% 0;
    margin-top: 80px;
    padding-top: 80px;
  }

  .home-main {
    max-width: 100%;
  }

  .home-main h1 {
    font-size: 45px;
  }

  img {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .home {
    flex-direction: column;
    gap: 3em;
    padding: 30px 5% 0;
    margin-top: 80px;
    padding-top: 80px;
  }

  .home-main {
    max-width: 100%;
  }

  .home-main h1 {
    font-size: 45px;
  }

  img {
    width: 400px;
  }


  .sobre-mim {
    flex-direction: column;
    gap: 3em;
    padding: 30px 5%;
    min-height: 100%;
  }

  .sobre p {
    font-size: 20px;
  }

  .imagem img {
    width: 300px;
  }

}

@media (max-width: 576px) {
  img {
    width: 250px;
  }
}


@media (max-width: 768px) {
  .sobre-mim {
    flex-direction: column;
    gap: 3em;
    padding: 30px 5%;
    min-height: 100%;
  }

  .sobre p {
    font-size: 20px;
  }

  .imagem img {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .imagem img {
    width: 250px;
  }
}


@media (max-width: 768px) {
  .projects {
    max-width: 90%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project {
    display: flex; 
    flex-direction: column; 
    width: 45%; 
    margin: 10px; 

  }

  .project img {
    width: 100%; 
  }
}

@media (max-width: 768px) {  
  .formulario {
    width: 100%; 
  }

  form {
    width: 95%; 
    padding: 15px;
    margin: 0 2.5%; 
  }

  label {
    flex-direction: column; 
    margin-bottom: 10px; 
  }

  input, textarea {
    width: 100%; 
  }
}
