@charset "UTF-8";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

.topo {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 35px 12%;
  background: #09182e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 30px;
  color: white;
  font-weight: 600;
}

.navbar a {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  transition: 0.2s;
  
}
span {
  color: #40a296;
}

.navbar a:hover {
  color: #40a296;
}
